body {
	margin: 0;
	padding: 0;
	background-color: #b71918;
	font-family: helvetica;
}
header {
	display: flex;
	justify-content: center;
	background-color: #b71918;
	color: #ffee00;
	border-bottom: 1px solid #fff;
}

 .container {
        width: 900px;
        display: flex;
        flex-direction: column;
    }

    h1{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 30px;
    }

    h2{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 25px;
    }

    header p{
        justify-content: center;
        text-align: center;
        font-size: 15px;
        color: #ffffff;
    }

    #background{
        background-image: url(images/retiro.jpg);
        background-size: cover;
        background-position: top;
    }

    .first-content {
        width: 360px;
        height: auto;
        border:0.5px solid #fff;
        border-radius: 5px;	
        display: flex;
        margin: auto;
        color: #fff;
    }
    .first-content img {
        margin: 5px;
        border-radius: 5px;
        
    }

    .legenda-img {
        font-size: 12px;
        text-align: center;
        padding-bottom: 5px;
        font-weight: bold;
    }
    section	{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: #ffffff;
    }

    .rodape{
        border-top: 1px solid white;
    display: flex;
	margin: auto;
	text-align: center;
	color: #fff;
	font-size:10px;

    }

    .rodape a {
        text-decoration: none;
        padding-left: 2px;
        color: #fff;
        font-weight: bold;
    }